@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1
{
    font-family: "sinkin_sans400_regular";
}

h2
{
    font-family: "sinkin_sans400_regular";
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    background-color:rgba(255, 166, 0, 0.74);
    border-radius: 20px;
    border: 2px grey groove;
    align-content: flex-start;
    overflow:auto
}


h4 /* return at the beginning of the page */
{
    text-align: center
}

article
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid;
    align-content: flex-start
}


p
{
    width: 700px;
    min-width: 200px;
    font-size: 1em;
    font-family: "sinkin_sans400_regular";
    color : black;
    text-align: justify;
    margin: 10px 5px 30px 30px;
    padding: 10px;
    /* overflow: auto; */
    word-wrap: break-word
}


#conteneur
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 5px
}



.who
{
    width: auto;
    border-radius: 20px / 10px;
    border: 1px grey groove;
    font-size: 1.5em;
    background-color: darkcyan;
    box-shadow: 6px 6px 10px grey
}


.magic
{
    color: brown
}


a:hover
{
    color:green
}


a:visited
{
    color: purple
}


input:focus
{
    background-color: orange
}


.footerer
{
    height: 50px;
    min-height: 100%;
    width : 150px;
    min-width: 100%;
    border: 2px black ridge;
    text-align: center;
}








/* .flex-container2
{
    float: right;
    display:flex;
    flex-direction: column;
    border: 3px black solid;
    margin-left: 200px
} */
